form#multiphase {
    border:#000 1px solid;
    padding: 24px;
    width: 350px;
    margin-left: 40%;
}

#phase1, #phase2, #phase3{
    display: none;


}

form#multiphase > #phase2, #phase3, #show_all_data{
    display: none;


}

